    <div class="container row">
            <div class="card post">
                <div class="card-body post-body">
            <h4 class="card-title post-title"><a href="/post/{{id}}">{{title}} </a></h4>
            <p class="card-text post-text">
            {{post_content}}
            </p>
            <a href="/post/{{id}}" class="btn btn-primary post-button">View Post</a>
                  <p class="post-date">Posted On: {{format_date created_at}} by <span class="post-username">{{user.username}}</span></p>
                </div>
            </div>
    </div>